* {
  font-family: var(--main-font);
}

footer {
  padding: 2rem 2%;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  background-color: var(--accent-color-two);
  color: var(--color-font);
}

.footer-information {
  max-width: 230px;
}

.footer-information h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-information p {
  font-size: 0.8rem;
}

.inf-media {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.inf-media a {
  color: var(--color-font);
  padding: 5px 10px;
  /* border: 1px solid black; */
  border-radius: 10px;
  background: var(--accent-color-one);
}

.inf-media svg {
  width: 23px;
  margin-top: 5px;
}

.footer-about h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-about a {
  font-size: 0.8rem;
  color: var(--color-font);
  text-decoration: none;
}

.about-icon {
  display: flex;
  align-items: center;
}

.about-icon svg {
  width: 18px;
  height: 18px;
}

.footer-keahlian {
  max-width: 600px;
}

.footer-keahlian h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-keahlian a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--color-font);
  margin-bottom: 6px;
}

.keahlian-icon {
  display: flex;
  align-items: center;
}

.keahlian-icon svg {
  margin-bottom: 6px;
  width: 18px;
  height: 18px;
}

.footer-maps h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-maps iframe {
  border-radius: 5px;
}
