* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

body {
  color: #222;
}

/* HERO */

.hero-section {
  height: 70vh;
  background-image: url("../images/secondschool.jpeg");
  background-size: cover;
  background-position: center;
  background-position: center;
}

.hero-section::before {
  content: "";
  inset: 0;
  position: absolute;
  height: 70vh;
  background: rgba(0, 0, 0, 0.5);
  /* z-index: 2; */
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 140px;
  z-index: 3;
  /* margin: auto; */
}

.hero-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 0.5rem;
  color: #fff;
  z-index: 3;
  text-transform: uppercase;
  /* text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); */
}

.profile-subtitle-hero {
  font-size: 1.1rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  z-index: 3;
}
/* CONTENT */

.content {
  max-width: 1000px;
  margin: auto;
  background: white;
  padding: 50px;
}

.subtitle-container {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10;
  gap: 0.85rem;
  justify-content: center;
}

.line {
  height: 1.5px;
  width: 45px;
  background-color: #ad2831;
}

.subtitle {
  color: #ad2831;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.85rem;
}

.content h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 38px;
  font-weight: 400;
  color: var(--accent-color-one);
  font-family: "Handlee", cursive;
}

.wrapper {
  display: flex;
  gap: 50px;
  align-items: flex-start;
}

/* LOGO */

.logo-box {
  width: 250px;
  flex-shrink: 0;
}

.logo-box img {
  width: 100%;
}

/* TEXT */

.text-box {
  flex: 1;
}

.banner {
  width: 100%;
  height: 220px;
  object-fit: cover;
  margin-bottom: 25px;
}

.text-box p {
  font-size: 15px;
  line-height: 1.9;
  color: #4b5563;
  margin-bottom: 20px;
  text-align: justify;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .content {
    padding: 30px 20px;
  }

  .wrapper {
    flex-direction: column;
  }

  .logo-box {
    width: 180px;
    margin: auto;
  }

  .content h1 {
    font-size: 30px;
  }

  .hero {
    height: 220px;
  }
}

@media (max-width: 768px) {
  .hero-content {
    /* margin-top: 100px; */
    z-index: -2;
  }

  .profile-subtitle-hero {
    z-index: 0 ;
    font-size: 0.9rem;
  }

  .hero-content h1 {
    z-index: 0;
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  .profile-subtitle-hero {
    font-size: 0.85rem;
    letter-spacing: 2px;
  }

  .content {
    padding: 30px 15px;
  }

  .content h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .logo-box {
    width: 130px;
  }

  .banner {
    height: 150px;
    margin-bottom: 15px;
  }

  .text-box p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 15px;
  }
}
