* {
  font-family: var(--main-font);
}

nav {
  background-color: var(--primary-color);
  padding: 1rem 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:relative;
  z-index:9999;
}

.navbar-title {
  display: flex;
  align-items: center;
  color: var(--color-font);
  text-transform: uppercase;
}

.navbar-title img {
  background: transparent;
  width: 56px;
  height: 64px;
  aspect-ratio: 7/8;
  margin-right: 10px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li a {
  display: flex;
  margin-right: 15px;
  text-decoration: none;
  color: var(--color-font);
  font-size: 0.9rem;
  font-weight: 600;
}

.profile-icon{
    display: flex;
    align-items: center;
}

.profile-icon svg{
    width: 18px;
    transform: translateX(-12px);
    color: var(--color-font);
    height: 18px;
}

.keahlian-icon{
    display: flex;
    align-items: center;
}

.keahlian-icon svg{
    width: 18px;
    transform: translateX(-12px);
    color: var(--color-font);
    height: 18px;
}

.gallery-icon{
    display: flex;
    align-items: center;
}

.gallery-icon svg{
    width: 18px;
    transform: translateX(-12px);
    color: var(--color-font);
    height: 18px;
}

.nav-daftar a {
  padding: 10px;
  /* border: 3px solid black; */
  border-radius: 25px;
  background-color: var(--accent-color-one);
  margin-left: 5px;
}

.nav-daftar a:hover{
    background:#1e293b;
}

/* dropdown */
.profile-list{
    position: absolute;
    background: white;
    border: 1px solid black;
    transform: translateX(-50px);
    border-radius: 10px;
    min-width: 180px;
    display: none;
}

.profile-list li{
    width: 100%;
}

.profile-list li a{
    color: black;
    padding: 12px;
}

.profile-list li a:hover{
    background: #eee;
    width: 100%;
    border-radius: 10px;
}

.profile-dropdown:hover .profile-list {
    display: block;
}

.keahlian-list{
    position: absolute;
    background: white;
    border: 1px solid black;
    transform: translateX(-50px);
    border-radius: 10px;
    min-width: 180px;
    display: none;
}

.keahlian-list li{
    width: 100%;
}

.keahlian-list li a{
    color: black;
    padding: 12px;
}

.keahlian-list li a:hover{
    background: #eee;
    width: 100%;
    border-radius: 10px;
}

.keahlian-dropdown:hover .keahlian-list {
    display: block;
}

.gallery-list{
    position: absolute;
    background: white;
    border: 1px solid black;
    transform: translateX(-50px);
    border-radius: 10px;
    min-width: 180px;
    display: none;
}

.gallery-list li{
    width: 100%;
}

.gallery-list li a{
    color: black;
    padding: 12px;
}

.gallery-list li a:hover{
    background: #eee;
    width: 100%;
    border-radius: 10px;
}

.gallery-dropdown:hover .gallery-list {
    display: block;
}