<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/navbar.css">
</head>

<body>
    <nav>
        <div class="navbar-title">
            <img src="../images/logo hogwarts-jukebox-bg-removed.png" alt="">
            <h3>hogwarts School</h3>
        </div>
        <ul>
            <li><a href="">Beranda</a></li>
            <li class="profile-dropdown">
                <div class="profile-icon">
                    <a href="">Profile</a>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>
                </div>

                <ul class="profile-list">
                    <li><a href="">Visi & Misi</a></li>
                    <li><a href="">Ekstrakurikuler</a></li>
                </ul>
            </li>
            <li class="keahlian-dropdown">
                <div class="keahlian-icon">
                    <a href="">Program Keahlian</a>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>
                </div>

                <ul class="keahlian-list">
                    <li><a href="">Rekayas Perangkat Lunak</a></li>
                    <li><a href="">Teknik Komputer & Jaringan</a></li>
                    <li><a href="">Teknik Elektronika Industri</a></li>
                </ul>
            </li>
            <li class="gallery-dropdown">
                <div class="gallery-icon">
                    <a href="">Gallery</a>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>
                </div>

                <ul class="gallery-list">
                    <li><a href="">Fasilitas</a></li>
                    <li><a href="">Prestasi</a></li>
                </ul>
            </li>
            <li><a href="">Berita</a></li>
            <li><a href="">Kontak</a></li>
            <li class="nav-daftar"><a href="../pages/spmb.php">Pendaftaran</a></li>
        </ul>
    </nav>
</body>

</html>